<h1>Search Terms</h1>

  <% if @search_terms %>
    <% @search_terms.each do |search_term| %>
      <ul>
        <p>
          <%= search_term.query %><br/>
          Bookmark: page -
          <% if search_term.bookmark.blank? %>
            N/A
          <% else %>
            <%= search_term.bookmark.page_number %>
            <br/>

            Bookmark URL:
              <% unless search_term.bookmark.url %>
              N/A
            <% else %>
              <%= search_term.bookmark.url %>
            <% end %>
          <% end %>
          <br/>
          Searched:
          <% if search_term.searched %>
            Yes
          <% else %>
            No
          <% end %>
        </p>
        <%= link_to 'Edit', edit_search_term_path(search_term) %>
        <%= link_to 'Destroy', search_term, method: :delete, data: { confirm: 'Are you sure?' } %>
      </ul>

      <br/>
      <br/>

    <% end %>
  <% end %>

<%= link_to 'New Search Term', new_search_term_path %>

<%= will_paginate @search_terms %>
